<br>
<div class='container justify-content-center' >

    <div class="head" style="background-color: black;">
        <div class='card-header text-white' >
            <h3 class='card-title'>User login</h3>
        </div> 
    </div>
    
    
    <div class='login-body'>
        <div *ngIf="error == true" class="text-danger">Login Invalid. Please try again.</div>
        <div *ngIf="registered == true" class="text-success">User registered successfully!</div>
        <form #userForm='ngForm' (ngSubmit)='handleSubmit()'>
            <div class='form-group'>
                <label for='userName'>Username/Email</label>

                <input 
                    class='form-control'
                    type='text'
                    id='username'
                    name='username'
                    #loginName='ngModel'
                    [ngClass]="{ 'is-invalid': loginName.touched && loginName.invalid}"
                    required
                    email
                    minlength="6"
                    [(ngModel)]='userName'/>
                                <!-- error handling for username-->
                <span *ngIf='loginName.touched && loginName.invalid && loginName.errors?.required' class='invalid-feedback'>
                    Email is required.
                </span>
                
                <span *ngIf='loginName.touched && loginName.invalid && loginName.errors?.email' class='invalid-feedback'>
                    A proper email is required.
                </span>
            </div>



            <!-- password-->

            <div class='form-group'>
                <label for='userPassword'>Password</label>
                <input 
                    class='form-control'    
                    type="password" 
                    id='userPass'
                    name='userPass'
                    #uPassword='ngModel'
                    [ngClass]=" { 'is-invalid' : uPassword.touched && uPassword.invalid  }"
                    required
                    [(ngModel)]='passwordCredentials'/>
                    <span *ngIf='uPassword.touched && uPassword.invalid || uPassword.errors?.required' class='invalid-feedback'>
                        password is required.
                    </span>
            </div>

            <!-- submit button -->
            <div class='card-footer'>
                <button class='btn btn-primary' [disabled]='userForm.invalid' style="background-color: black;">Login</button>
            </div>
        </form>

    </div>

</div>
