<!-- all homepage componenets here. for routing purposes. -->
<app-homepage-header></app-homepage-header>
<div class="weather-block">
    <app-weather-report></app-weather-report>
</div>
<!-- <app-weather-report></app-weather-report> -->
<app-three-latest-news></app-three-latest-news>

<!-- <mat-sidenav-container>
  

    <div>
      <mat-toolbar color="primary">
        
        <span>Chat</span>
      </mat-toolbar>
  
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container> -->
<app-footer></app-footer>