<app-homepage-header></app-homepage-header>

<br>
<div class='container justify-content-center' >
    <div class='card-header bg-dark text-white'>
        <h3 class='card-title'>Contact Us</h3>
    </div> 
    
    <div class='body' >
        <form #userForm='ngForm' (ngSubmit)="sendEmail()" >
            <!-- Email part -->
            <div class='form-group'>
                <label for='email'>Email</label>

                <input 
                    class='form-control'
                    type='text'
                    id='email'
                    style="width: 300px;"
                    name='email'
                    #emailName='ngModel'
                    [ngClass]="{ 'is-invalid': emailName.touched && emailName.invalid}"
                    required
                    email
                    [(ngModel)]='userEmail'/>
                <!-- error handling for username-->
                <span *ngIf='emailName.touched && emailName.invalid && emailName.errors?.required' class='invalid-feedback'>
                    Email is required.
                </span>
                <span *ngIf='emailName.touched && emailName.invalid && emailName.errors?.email' class='invalid-feedback'>
                    A proper email is required.
                </span>
            </div>
            <!-- end of email -->        

            <div class='form-group'>
                <label for='name'>Email Body</label>
                <br>

                <textarea id="emailBody" 
                    type='text'
                    name="emailBody" 
                    id='emailBody'
                    placeholder="what can we help you with?" 
                    style="height:200px; width:500px;"
                    #emailBodyM='ngModel'
                    [ngClass]="{ 'is-invalid': emailBodyM.touched && emailBodyM.invalid}"
                    required
                    minlength="3"
                    [(ngModel)]='userEmailBody'
                    ></textarea>

                    <span *ngIf='emailBodyM.touched && emailBodyM.invalid && emailBodyM.errors?.email' class='invalid-feedback'>
                        Please provide a body before submitting.
                    </span>
            </div>
  


            <!-- submit button -->
            <div class='card-footer'>
                <button class='btn btn-primary' [disabled]='userForm.invalid'> <i class="fas fa-paper-plane"></i> Send Email</button>
            </div> 
        </form>

    </div>

</div>

<app-footer></app-footer>