<app-homepage-header></app-homepage-header>
<div class='container justify-content-center' >
        <div class='card-header bg-dark text-white ; head'>
            <h3 class='card-title '>About</h3>
        </div>     
    <div class="container" style="width: 100%;">
      
      <div #mapContainer id="map" class="flex-child" style="float: left;"></div>
 <!-- onclick="location.href='http://google.com';" style="cursor: pointer;" -->
 <div class="flex-child" style="margin-left: 50%; height: 100%;" ><br><b>
  Thanks for using The Weather Channel app! We are constantly working to add new features and improve your app experience.<br> In this release:
  - NEW Widgets: Discover all your local weather info directly on your homescreen, with a 5-following days forecast, live radar, and daily temperatures in your area and latest sports.</b>
  <br>We value your feedback! Email us at sowmyakumbham97@gmail.com with any questions or suggestions.
  Screen reader support enabled.</div>
    </div>


</div>

<app-footer></app-footer>